.header-container {
    display: flex;
    width: 100%;
    height: 50px;
    background: transparent;
}

.instagram_logo, .github_logo {
    font-size: 25px;
    margin-top: 13px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.instagram_logo:hover {
    transition: 0.5s;
    color:#bc2a8d;
}

.github_logo:hover {
    transition: 0.5s;
    color: #6e5494;
}

.phone_layout {
    width: 100px;
    height: 20px;
    border-radius: 20px;
    background: white;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 15px;
}

.phone_text {
    display: block;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 3px;
    cursor: pointer;
    color: black;
}
